<html>
<head>
    <title>Crear</title>
</head>
<body>
    <div class="container">
        <h1>Creando Rutina. . .</h1>
        <form action="/app/crearR" method="post">

            <label>Nombre</label>
            <input name="Nombre" />

            <button class="btn btn-success">Crear</button>

        </form>
    </div>
</body>
</html>